<?xml version='1.0' encoding='utf-8'?>
<widget id="com.terotero.minicart" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>minicart</name>
    <description>
       Facile come una domenica mattina
    </description>
    <author email="support@terotero.com" href="http://minicart.it">
        Terotero Minicart
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
